input{
    outline: none;
    color:#1bab8d;
}
.resource-body {
    width: 1220px;
    height: 550px;
    margin: 20px 0;
    padding-left: 15px;
    position: relative;
    border: 1.49px solid #c5c2c2;
}

.image-container {
    display: inline-block;
    height: 100%;
    width: 700px;
    border: 1px solid #e8e3e3;
    border-bottom: 0;
    margin-right: 75px;
}

.image-container .big-image{
    position: relative;
    width: 100%;
    height: 440px;
    overflow: hidden;
}
.image-container .big-image img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    transition:z-index 1s,visibility 1s;
}
.image-container .small-image{
    width: 99.5%;
    height: 87px;
    display: flex;
    justify-content: center;
    margin-top: 13px;
}
.image-container .small-image div{
    cursor: pointer;
    flex-grow:0;
    height: 100%;
    width: 150px;
    margin:0 5px; 
}
.image-container .small-image img{
    width: 100%;
    height: 100%;
}

.order-container {
    height: 70%;
    width: 450px;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto 0;
    right: 0;
    border: 1px solid #e0dbdb;
    border-right: 0;
}
#order-container .order-item{
    width: 80%;
    height: 50px;
    line-height: 50px;
    margin: 10px 20px;
}
#order-container .order-item-name{
    display: inline-block;
}
#order-container .order-item div{
    display: inline-block;
}
#order-container .goods-price{
    height: 109px;
    line-height: 109px;
    font-size: 2em;
    color: #1bab8d;
}
.goods-price .price{
    display: inline-block;
}
#order-container #order-time-input{
    height: 25px;
}
#order-container .number-select{
    width: 85px;
    height: 25px;
    position: relative;
    top: 9px;
    border: 1px solid #e0dbdb;
}
#order-container .number-select div{
    display: block;
}
#order-container .number-select .number-select-button{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #5b6269;
    cursor: pointer;
}
#order-container .number-select .number-select-button:hover{
    color: #1bab8d;
}
#order-container .number-select .left{
    float: left;
}
#order-container .number-select .right{
    float: right;
}
#order-container .number-select .number-select-input{
    width: 35px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    margin: 0 25px;
}
#order-container .number-select .number-select-input input{
    width: 35px;
    height: 25px;
    vertical-align: bottom;
    background-color: #fbfbfb;
    border: 0;
    text-align: center;
}
#book-button{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #1bab8d;
    opacity: 0.85;
    text-align: center;
    margin: 5px 0 0 78px;
    color: white;
    user-select: none;
}
#book-button:hover{
    opacity: 1;
}