body{
    margin:0;
    background-image:url(../img/login-img.jpg);
}
h1,h2{
    margin:0;
}
h1{
    font-size: 50px;
    font-family: "Times New Roman";
    color:rgb(91, 177, 91);
    text-align:center;
    user-select: none;
    cursor: default;
}
h2{
    text-align: center;
    font-size: 18px;
    color:black;
    opacity:0.8;
}
input{
    border:0;
    padding:15px;
    outline: none;
    width: 100%;
    height: 100%;
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
    opacity: 0.7; 
}
label{
    color: red;
    user-select: none;
    position: relative;
    top:-34px;
    left:280px;
    cursor: text;
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
    padding: 14px;
    transition: left 0.3s,visibility 0.3s,opacity 0.3s;
}
button{
    background-color: rgb(91, 177, 91);
    width:100%;
    height:45px;
    cursor: pointer;
    outline: none;
    border:0;
    border-radius: 3px;
    color:white;
    font-size: 18px;
    opacity: 0.9;
    user-select: none;
}
button:hover{
    opacity: 1;
}
.index-main{
    width:100%;
    height: 100%;
    flex:1 0 auto;
}
.main-body{
    width:270px;
    margin:auto;
    position: relative;
    top:30%;
    background-color: white;
    border-radius: 7px;
    padding: 50px 137px;
    opacity: 0.95;
}
.body-header,.body-login-regsiter,.body-choose,.index-login,.index-register{
    width:100%;
    padding-bottom: 20px;
}
.body-choose{
    text-align: center;
}
.index-choose{
    display:inline-block;
    font-family: "Times New Roman";
    font-size: 18px;
}
.index-choose a{
    height:20px;
    width:15px;
    padding:10px;
    color:black;
    cursor:pointer;
    opacity: 0.6;
    text-decoration: none;
}
a.choose{
    color:rgb(91, 177, 91);
    opacity:1;
}
.slide-bar{
    position: relative;
    display:block;
    left:8px;
    bottom:-3px;
    background:green;
    width: 2.2em;
    height: 2px;
    transition: left 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.index-choose a:hover{
    opacity: 0.9;
}
.input-group{
    border:1px solid #d5d5d5;
    border-radius:3px;
    padding:3px 0 3px 0;
}
.input-box{
    height:50px;
    border-bottom: 1px solid #e8e2e2;
}
.last-input{
    border:0;
}
.button-box{
    margin-top:20px;  
}
.remember-box{
    margin: 10px 0 0 15px;
    line-height: 15px;
    height: 15px;
    
}
#remember{
    vertical-align: middle;
    width: 15px;
    outline: none;
    cursor: pointer;
}
.remember-box p{
    display: inline-block;
    font-size: 0.8em;
    user-select: none;
    cursor: default;
}