html,body,ul {   
    margin:0px;      
}
li{
    list-style-type: none;
}
.wrap{
    background-image: url(../img/login.png);
    height: 100px;
    width: 2000px;
    background-position: 97px 145px;
    float: left;
    padding-left: 0px;
}
header .title{
    font-size: 30px;
    font-family: "黑体";
    padding-top: 46px;
}
header img{
    cursor: pointer;
    float:left;
    padding-right: 40px;
    padding-left: 94px;
    padding-top: 18px;
    position:30px 30px;
}
#container{
    text-align:center;
}
.auto-size{
    overflow: hidden;
}
img{
    position: relative;
    left:0;
    animation: flow 5s infinite;
}
@keyframes flow{
    0%{
        left:0;
        display:inline;
    }
    50%{
        left:-100%;
        display:none;
    }
    75%{
        left:100%;
        display:none;

    }
    100%{
        left:0;
        display:inline;
    }

}
.container{
    display:inline-block;
    line-height: 30px;
    width:30%;
}
p{
    display:inline-block;
    background-color: black;
    color:white;
    vertical-align: middle;
    text-align: center;
    line-height: 130%;
}