.main{
    flex:1 0 auto;
}
.content{
    min-height: 1000px;
}
.content-body{
    background-color: white;
    min-height: 1000px;
}
.search:hover{
    box-shadow: 0px 0px 24px #1bab8d;
}
.search-wrap{
    width:100%;
    padding: 20px 0;
    margin: 25px auto 70px auto;
    align-content: center;
}
.search{
    align-content: center;
    margin:0px auto;
    width:497px;
    height: 30px;
}
.search input{
    margin: 0px;
    padding-left:15px;
    width:381px;
    height: 26px;
    border: 2px solid #1bab8d;
    font-size: 20px;
    outline: none;
}
.search button{
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    background: #1bab8d;
    border: none;
    margin-left: -8px;
    vertical-align: top;
    width:100px;
    height: 100%;
}
.border{
    border: 1.49px solid #c5c2c2;
}
.clear::after{
    content:'';
    display: block;
    clear:both;
}